<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>Document</title>
</head>
<body>
    <div class="flex items-center justify-center h-screen">
        <div class="bg-zinc-200 md:w-2/4 p-4 text-center rounded-lg shadow-md">
            <p id="text-info" class="text-lg">Verificando...</p>
        </div>
    </div>

    <script src="index.js"></script>
</body>
</html>