<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/output.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>ScheduleFlex</title>
</head>
<body class="m-0 bg-teal-500">
<!-- component -->
 <div id="crearHorario"></div>

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>
<script>
   const setup = () => {
       return {
       isSidebarOpen: false,
       currentSidebarTab: null,
       isSettingsPanelOpen: false,
       isSubHeaderOpen: false,
       watchScreen() {
           if (window.innerWidth <= 1024) {
           this.isSidebarOpen = false
           }
       },
   }
 }
</script>

    <script src="index.js"></script>
    <script src="../components/crearHorario.js"></script>
</body>
</html>